<p style="color: red" ng-if="item._source.code == 431">HTTP_431_REQUEST_HEADER_FIELDS_TOO_LARGE</p>
<p style="color: red" ng-if="item._source.code == 451">HTTP_451_UNAVAILABLE_FOR_LEGAL_REASONS</p>
<p style="color: red" ng-if="item._source.code == 406">HTTP_406_NOT_ACCEPTABLE</p>
<p style="color: red" ng-if="item._source.code == 402">HTTP_402_PAYMENT_REQUIRED</p>
<p style="color: red" ng-if="item._source.code == 501">HTTP_501_NOT_IMPLEMENTED</p>
<p style="color: green" ng-if="item._source.code == 206">HTTP_206_PARTIAL_CONTENT</p>
<p style="color: red" ng-if="item._source.code == 503">HTTP_503_SERVICE_UNAVAILABLE</p>
<p style="color: red" ng-if="item._source.code == 409">HTTP_409_CONFLICT</p>
<p style="color: red" ng-if="item._source.code == 304">HTTP_304_NOT_MODIFIED</p>
<p style="color: red" ng-if="item._source.code == 404">HTTP_404_NOT_FOUND</p>
<p style="color: red" ng-if="item._source.code == 504">HTTP_504_GATEWAY_TIMEOUT</p>
<p style="color: red" ng-if="item._source.code == 307">HTTP_307_TEMPORARY_REDIRECT</p>
<p style="color: red" ng-if="item._source.code == 303">HTTP_303_SEE_OTHER</p>
<p style="color: red" ng-if="item._source.code == 405">HTTP_405_METHOD_NOT_ALLOWED</p>
<p style="color: red" ng-if="item._source.code == 306">HTTP_306_RESERVED</p>
<p style="color: green" ng-if="item._source.code == 202">HTTP_202_ACCEPTED</p>
<p style="color: green" ng-if="item._source.code == 200">HTTP_200_OK</p>
<p style="color: green" ng-if="item._source.code == 101">HTTP_101_SWITCHING_PROTOCOLS</p>
<p style="color: red" ng-if="item._source.code == 410">HTTP_410_GONE</p>
<p style="color: red" ng-if="item._source.code == 422">HTTP_422_UNPROCESSABLE_ENTITY</p>
<p style="color: red" ng-if="item._source.code == 300">HTTP_300_MULTIPLE_CHOICES</p>
<p style="color: red" ng-if="item._source.code == 411">HTTP_411_LENGTH_REQUIRED</p>
<p style="color: red" ng-if="item._source.code == 416">HTTP_416_REQUESTED_RANGE_NOT_SATISFIABLE</p>
<p style="color: red" ng-if="item._source.code == 423">HTTP_423_LOCKED</p>
<p style="color: red" ng-if="item._source.code == 511">HTTP_511_NETWORK_AUTHENTICATION_REQUIRED</p>
<p style="color: green" ng-if="item._source.code == 204">HTTP_204_NO_CONTENT</p>
<p style="color: red" ng-if="item._source.code == 507">HTTP_507_INSUFFICIENT_STORAGE</p>
<p style="color: red" ng-if="item._source.code == 505">HTTP_505_VERSION_NOT_SUPPORTED</p>
<p style="color: red" ng-if="item._source.code == 500">HTTP_500_INTERNAL_SERVER_ERROR</p>
<p style="color: green" ng-if="item._source.code == 205">HTTP_205_RESET_CONTENT</p>
<p style="color: red" ng-if="item._source.code == 502">HTTP_502_BAD_GATEWAY</p>
<p style="color: red" ng-if="item._source.code == 428">HTTP_428_PRECONDITION_REQUIRED</p>
<p style="color: red" ng-if="item._source.code == 305">HTTP_305_USE_PROXY</p>
<p style="color: red" ng-if="item._source.code == 413">HTTP_413_REQUEST_ENTITY_TOO_LARGE</p>
<p style="color: green" ng-if="item._source.code == 207">HTTP_207_MULTI_STATUS</p>
<p style="color: red" ng-if="item._source.code == 400">HTTP_400_BAD_REQUEST</p>
<p style="color: red" ng-if="item._source.code == 424">HTTP_424_FAILED_DEPENDENCY</p>
<p style="color: red" ng-if="item._source.code == 403">HTTP_403_FORBIDDEN</p>
<p style="color: red" ng-if="item._source.code == 301">HTTP_301_MOVED_PERMANENTLY</p>
<p style="color: red" ng-if="item._source.code == 429">HTTP_429_TOO_MANY_REQUESTS</p>
<p style="color: green" ng-if="item._source.code == 100">HTTP_100_CONTINUE</p>
<p style="color: red" ng-if="item._source.code == 412">HTTP_412_PRECONDITION_FAILED</p>
<p style="color: red" ng-if="item._source.code == 407">HTTP_407_PROXY_AUTHENTICATION_REQUIRED</p>
<p style="color: red" ng-if="item._source.code == 417">HTTP_417_EXPECTATION_FAILED</p>
<p style="color: red" ng-if="item._source.code == 408">HTTP_408_REQUEST_TIMEOUT</p>
<p style="color: green" ng-if="item._source.code == 203">HTTP_203_NON_AUTHORITATIVE_INFORMATION</p>
<p style="color: red" ng-if="item._source.code == 302">HTTP_302_FOUND</p>
